# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
      timezone: "Europe/Oslo"
    cooldown:
      default-days: 7
    groups:
      otel:
        patterns:
          - "go.opentelemetry.io/*"
      k8s-core:
        patterns:
          - "k8s.io/*"
      k8s-controller:
        patterns:
          - "sigs.k8s.io/controller-runtime/*"
          - "sigs.k8s.io/controller-tools/*"
      prometheus:
        patterns:
          - "github.com/prometheus/*"
      build-test:
        patterns:
          - "github.com/arttor/helmify/cmd/helmify"
          - "github.com/golangci/golangci-lint*"
          - "github.com/onsi/ginkgo/v2"
          - "github.com/jarcoal/httpmock"
          - "github.com/onsi/gomega"
          - "github.com/stretchr/testify"
    ignore:
      # These packages are dependent on the Kubernetes version we are targeting
      - dependency-name: "k8s.io/api"
        update-types: ["version-update:semver-minor"]
      - dependency-name: "k8s.io/apimachinery"
        update-types: ["version-update:semver-minor"]
      - dependency-name: "k8s.io/client-go"
        update-types: ["version-update:semver-minor"]
      - dependency-name: "sigs.k8s.io/controller-runtime"
        update-types: ["version-update:semver-minor"]
      - dependency-name: "sigs.k8s.io/controller-tools"
        update-types: ["version-update:semver-minor"]
      - dependency-name: "github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring"
        update-types: ["version-update:semver-minor"]
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
      timezone: "Europe/Oslo"
    cooldown:
      default-days: 7
    groups:
      actions:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
      timezone: "Europe/Oslo"
    cooldown:
      default-days: 7
