dependencies:
  - allOf:
      - unleasherator-crds
environmentKinds:
  - management
  - tenant
  - onprem
  - legacy
values:
  controllerManager.manager.env.apiTokenNameSuffix:
    computed:
      template: |
        {{ if and (eq .Tenant.Name "nav") (eq .Env.name "dev") }}dev-gcp{{ else if and (eq .Tenant.Name "nav") (eq .Env.name "prod") }}prod-gcp{{ else }}{{ .Env.name }}{{ end }}
    config:
      type: string
  # Federation
  controllerManager.manager.env.clusterName:
    computed:
      template: |
        {{ if and (eq .Tenant.Name "nav") (eq .Env.name "dev") }}dev-gcp{{ else if and (eq .Tenant.Name "nav") (eq .Env.name "prod") }}prod-gcp{{ else }}{{ .Env.name }}{{ end }}
    config:
      type: string
  controllerManager.manager.env.federationPubsubGcpProjectId:
    computed:
      template: '"{{ .Env.unleasherator_pubsub_project_id }}"'
  controllerManager.manager.env.federationPubsubMode:
    computed:
      template: '"{{ .Env.unleasherator_pubsub_mode }}"'
  controllerManager.manager.env.federationPubsubSubscription:
    computed:
      template: '"{{ .Env.unleasherator_pubsub_subscription }}"'
  controllerManager.manager.env.federationPubsubTopic:
    computed:
      template: '"{{ .Env.unleasherator_pubsub_topic }}"'
  controllerManager.manager.env.otelTracesExporter:
    computed:
      template: '"{{ if ne .Env.otel_otlp_endpoint "" }}otlp{{ else }}none{{ end }}"'
  controllerManager.manager.env.otelExporterOtlpEndpoint:
    computed:
      template: '"{{ .Env.otel_otlp_endpoint }}"'
  controllerManager.manager.env.otelExporterOtlpProtocol:
    computed:
      template: '"{{ .Env.otel_otlp_protocol }}"'
  # Service account
  controllerManager.serviceAccount.annotations:
    computed:
      template: |
        iam.gke.io/gcp-service-account: "{{ .Env.unleasherator_service_account }}"
  # Features
  controllerManager.manager.env.featureApiTokenUpdateEnabled:
    config:
      type: bool
  # Onprem stuff
  controllerManagerGcp.serviceAccountCredentialsJson:
    computed:
      template: '{{ if eq .Kind "onprem" }}{{ .Env.unleasherator_service_account_key | quote }}{{ else }}"{}"{{ end }}'
  controllerManager.manager.env.googleApplicationCredentials:
    computed:
      template: '/var/secrets/google/service-account-credentials.json'
    ignoreKind:
      - management
      - tenant
      - legacy
  controllerManager.manager.env.httpsProxy:
    computed:
      template: 'http://webproxy-nais.nav.no:8088'
    ignoreKind:
      - management
      - tenant
      - legacy
  controllerManager.manager.env.noProxy:
    computed:
      template: 'localhost,127.0.0.1,10.254.0.1,.local,.adeo.no,.nav.no,.aetat.no,.devillo.no,.oera.no,.nais.io,.aivencloud.com'
    ignoreKind:
      - management
      - tenant
      - legacy
  # Image overrides
  controllerManager.manager.image.tag:
    config:
      type: string
  # NetPol
  networkPolicy.enabled:
    computed:
      template: '{{ne .Kind "onprem"}}'
  networkPolicy.allowDNS:
    computed:
      template: "true"
    ignoreKind:
      - onprem
  networkPolicy.allowedNamespaces:
    computed:
      template: |
        - bifrost-unleash
    ignoreKind:
      - onprem
      - tenant
      - legacy
  networkPolicy.apiServerCIDR:
    computed:
      template: '"{{ .Env.apiserver_endpoint }}/32"'
    ignoreKind:
      - onprem
  networkPolicy.extraOutboundIPs:
    computed:
      template: |
        - "{{ .Env.management_lb_internal_ip }}"
    ignoreKind:
      - management
      - onprem
  # Prometheus Rules
  prometheusRules.enabled:
    displayName: Enable Prometheus Alerts
    config:
      type: bool
  # Management cluster alerts (Unleash instances and ReleaseChannels run here)
  prometheusRules.unleash.enabled:
    displayName: Unleash CRD Alerts
    computed:
      template: "true"
    ignoreKind:
      - tenant
      - legacy
      - onprem
  prometheusRules.releaseChannel.enabled:
    displayName: ReleaseChannel Alerts
    computed:
      template: "true"
    ignoreKind:
      - tenant
      - legacy
      - onprem
  prometheusRules.unleashServer.enabled:
    displayName: Unleash Server Alerts
    computed:
      template: "true"
    ignoreKind:
      - tenant
      - legacy
      - onprem
  prometheusRules.unleashServer.namespace:
    displayName: Unleash instance namespace
    computed:
      template: '"{{ .Management.bifrost_unleash_namespace }}"'
    ignoreKind:
      - tenant
      - legacy
      - onprem
  # App cluster alerts (ApiTokens and RemoteUnleash resources run here)
  prometheusRules.apiToken.enabled:
    displayName: ApiToken Alerts
    computed:
      template: "true"
    ignoreKind:
      - management
  prometheusRules.remoteUnleash.enabled:
    displayName: RemoteUnleash Alerts
    computed:
      template: "true"
    ignoreKind:
      - management