controllerManager:
  manager:
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      seccompProfile:
        type: RuntimeDefault
    env:
      apiTokenNameSuffix: unleasherator
      clusterName: ""
      featureApiTokenUpdateEnabled: "false"
      federationPubsubGcpProjectId: ""
      federationPubsubMode: ""
      federationPubsubSubscription: ""
      federationPubsubTopic: ""
      googleApplicationCredentials: ""
      healthProbeBindAddress: :8081
      httpsProxy: ""
      leaderElectionEnabled: "true"
      leaderElectionResourceName: 509984d3.nais.io
      metricsBindAddress: :8080
      noProxy: ""
      otelExporterOtlpEndpoint: http://localhost:4317
      otelExporterOtlpProtocol: grpc
      otelTracesExporter: none
      webhookPort: "9443"
    image:
      repository: ghcr.io/nais/unleasherator
      tag: main
    imagePullPolicy: Always
    resources:
      limits:
        memory: 512Mi
      requests:
        cpu: 50m
        memory: 256Mi
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  replicas: 1
  serviceAccount:
    annotations: {}
controllerManagerGcp:
  serviceAccountCredentialsJson: ""
kubernetesClusterDomain: cluster.local
metricsService:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: http
  type: ClusterIP
