# permissions for end users to edit unleashes.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: unleash-editor-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: controller-manager
    app.kubernetes.io/part-of: controller-manager
    app.kubernetes.io/managed-by: kustomize
  name: unleash-editor-role
rules:
- apiGroups:
  - unleash.nais.io
  resources:
  - unleashes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - unleash.nais.io
  resources:
  - unleashes/status
  verbs:
  - get
