apiVersion: unleash.nais.io/v1
kind: Unleash
metadata:
  labels:
    app.kubernetes.io/name: unleash
    app.kubernetes.io/instance: unleash-sample
    app.kubernetes.io/part-of: controller-manager
    app.kuberentes.io/managed-by: kustomize
    app.kubernetes.io/created-by: controller-manager
  name: unleash-sample
spec:
  size: 1
  database:
    secretName: postgres-postgresql
    secretPassKey: postgres-password
    host: postgres-postgresql
    databaseName: postgres
    port: "5432"
    user: postgres
    ssl: "false"
  extraEnvVars:
    - name: ENABLE_OAS
      value: "true"
  networkPolicy:
    enabled: true
    allowDNS: true
    extraEgressRules:
      - to:
          - podSelector:
              matchLabels:
                app.kubernetes.io/name: postgresql
        ports:
          - protocol: TCP
            port: 5432
