apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "unleasherator.fullname" . }}-controller-manager-metrics-monitor
  labels:
    app: unleasherator
    app.kubernetes.io/component: metrics
    app.kubernetes.io/created-by: unleasherator
    app.kubernetes.io/part-of: unleasherator
    control-plane: controller-manager
  {{- include "unleasherator.labels" . | nindent 4 }}
spec:
  endpoints:
  - path: /metrics
    port: http
    scheme: http
  selector:
    matchLabels:
      app: unleasherator
      app.kubernetes.io/instance: unleasherator
      app.kubernetes.io/name: unleasherator
      control-plane: controller-manager
