apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "unleasherator.fullname" . }}-manager-role
  labels:
    app: unleasherator
  {{- include "unleasherator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets/finalizers
  - services/finalizers
  verbs:
  - update
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  - networkpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses/finalizers
  - networkpolicies/finalizers
  verbs:
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses/status
  - networkpolicies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - unleash.nais.io
  resources:
  - apitokens
  - releasechannels
  - remoteunleashes
  - unleashes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - unleash.nais.io
  resources:
  - apitokens/finalizers
  - releasechannels/finalizers
  - remoteunleashes/finalizers
  - unleashes/finalizers
  verbs:
  - update
- apiGroups:
  - unleash.nais.io
  resources:
  - apitokens/status
  - releasechannels/status
  - remoteunleashes/status
  - unleashes/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "unleasherator.fullname" . }}-manager-rolebinding
  labels:
    app: unleasherator
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: unleasherator
    app.kubernetes.io/part-of: unleasherator
  {{- include "unleasherator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "unleasherator.fullname" . }}-manager-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "unleasherator.fullname" . }}-controller-manager'
  namespace: '{{ .Release.Namespace }}'
