apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "unleasherator.fullname" . }}-metrics-reader
  labels:
    app: unleasherator
    app.kubernetes.io/component: kube-rbac-proxy
    app.kubernetes.io/created-by: unleasherator
    app.kubernetes.io/part-of: unleasherator
  {{- include "unleasherator.labels" . | nindent 4 }}
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
