apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "unleasherator.fullname" . }}-controller-manager
  labels:
    app: unleasherator
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: unleasherator
    app.kubernetes.io/part-of: unleasherator
  {{- include "unleasherator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.controllerManager.serviceAccount.annotations | nindent 4 }}
