name: Build and Deploy

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: ["main"]
    paths:
      - "Makefile"
      - "Dockerfile"
      - "go.mod"
      - "go.sum"
      - "**.go"
      - .github/workflows/build-and-deploy.yml
  pull_request:
    branches: ["main"]
    paths:
      - "Makefile"
      - "Dockerfile"
      - "go.mod"
      - "go.sum"
      - "**.go"
      - .github/workflows/build-and-deploy.yml

env:
  GHCR_REGISTRY: ghcr.io
  GAR_REGISTRY: europe-north1-docker.pkg.dev/nais-io/nais/images

jobs:
  build:
    name: Build and Test code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Restore cached binaries
        uses: actions/cache/restore@v3
        with:
          path: ${{ github.workspace }}/bin
          key: ${{ runner.os }}-makefile-bin-${{ hashFiles('Makefile') }}
      - name: Set up Go environment
        uses: actions/setup-go@v4
        with:
          go-version: "1.20"
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --timeout=5m
          skip-cache: true
      - name: Install make
        run: sudo apt-get update && sudo apt-get install make
      - name: Generate code
        run: |
          make generate proto
          #if git diff-index --quiet HEAD --; then
          #  echo "Code generated successfully."
          #else
          #  echo "Code has generation issues."
          #  echo $(git diff HEAD --)
          #  echo $(git diff-index --quiet HEAD --)
          #  ls api/v1
          #  cat api/v1/zz_generated.deepcopy.go
          #  echo "Please run 'make generate' and commit the changes."
          #  exit 1
          #fi
      - name: Generate manifests
        run: |
          make manifests
          #if git diff-index --quiet HEAD --; then
          #  echo "Manifests generated successfully."
          #else
          #  echo "Manifests have generation issues."
          #  echo "Please run 'make manifests' and commit the changes."
          #  exit 1
          #fi
      - name: Generate helm chart
        run: |
          make helm
          #if git diff-index --quiet HEAD --; then
          #  echo "Helm chart generated successfully."
          #else
          #  echo "Helm chart has generation issues."
          #  echo "Please run 'make helm' and commit the changes."
          #  exit 1
          #fi
      - name: Vet code
        run: make vet
      - name: Test code
        run: make test
      - name: Build binary
        run: make build
      - name: Cache installed binaries
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/bin
          key: ${{ runner.os }}-makefile-bin-${{ hashFiles('Makefile') }}
  docker:
    name: Build and Push Docker image
    runs-on: ubuntu-latest
    needs: [build]
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - uses: actions/checkout@v3
      - uses: docker/login-action@v2
        with:
          registry: ${{ env.GHCR_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: version
        run: echo "version=$(date +'%Y%m%d-%H%M%S')-$(git rev-parse --short HEAD)" >> ${GITHUB_OUTPUT}
      - uses: docker/setup-buildx-action@v2
      - uses: docker/metadata-action@v4
        id: metadata
        with:
          images: |
            ${{ env.GHCR_REGISTRY }}/${{ github.repository }}
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern=v{{version}}
            type=semver,pattern=v{{major}}.{{minor}}
            type=semver,pattern=v{{major}}
            type=sha
            type=raw,value=${{ steps.version.outputs.version }}
      - uses: docker/build-push-action@v4
        with:
          context: .
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64
  rollout:
    permissions:
      id-token: write
    needs: ["docker"]
    runs-on: fasit-deploy
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: nais/fasit-deploy@main
        with:
          json: '{"controllerManager": {"manager": {"image": {"tag": "${{ needs.docker.outputs.version }}"}}}}'
          feature_name: ${{ github.event.repository.name }}
